.allo-footer {
  background-color: #444444;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cinema-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: auto;
  flex-wrap: wrap;
}

.cinema-list-title {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
}

i {
  color: white;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}