<footer class="allo-footer">
  <div>
    <button type="button" class="btn btn-outline-light"><i class="bi bi-facebook"></i></button>
    <button type="button" class="btn btn-outline-light"><i class="bi bi-twitter"></i></button>
    <button type="button" class="btn btn-outline-light"><i class="bi bi-instagram"></i></button>
  </div>
  <p class="cinema-list-title">TROUVEZ UN FILM AVEC L'UN DE NOS CINÉMAS PARTENAIRES</p>
  <div class="cinema-list">
    <app-city [city]="marseille"></app-city>
    <app-city [city]="paris"></app-city>
    <app-city [city]="lyon"></app-city>
    <app-city [city]="nice"></app-city>
  </div>
  <div>
    © 2023 Copyright: Nintendaube
  </div>
</footer>