<nav class="navbar navbar-warning navbar-expand-lg bg-warning ps-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img [src]="'assets/bjfm.png'" alt="BonjourFilms Logo" class="logo">
    </a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav ms-auto align-items-center">
        <a class="nav-item nav-link" routerLink="/">Accueil</a>
        <a class="nav-item nav-link" routerLink="/inscription">Inscription</a>
        <a class="nav-item nav-link" routerLink="/myspace">Mon espace</a>
        <a class="nav-item nav-link" routerLink="/movies">Gestion de films</a>
        <a class="nav-item nav-link" routerLink="/admin">Panel Admin</a>
      </div>
    </div>
  </div>
</nav>