<h4>Panel admin</h4>

<div class="card-container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Nombre de films</h5>
      <p class="card-text text-center">{{movies.length}}
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Nombre d'utilisateurs</h5>
      <p class="card-text text-center">{{users.length}}
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Nombre d'avis</h5>
      <p class="card-text text-center">{{reviews.length}}
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Satisfaction</h5>
      <p class="card-text text-center">{{average}}%
      </p>
    </div>
  </div>
</div>