<h1>Passionné(e) de cinéma ?</h1>
<h1>Inscris-toi !</h1>
<h4>Et rejoins une vraie communauté</h4>

<form [formGroup]="profileForm" class="pf-v5-c-login__main">
    <div class="d-flex flex-column w-50 inscription-input">
        <label for="firstname">Prénom</label>
        <input id="firstname" type="text" formControlName="firstname">
        <small class="text-danger"
            *ngIf="profileForm.get('firstname')?.touched && profileForm.get('firstname')?.invalid">
            Le prénom est requis.
        </small>
    </div>
    <div class="d-flex flex-column w-50 inscription-input">
        <label for="lastname">Nom de famille</label>
        <input id="lastname" type="text" formControlName="lastname">
        <small class="text-danger" *ngIf="profileForm.get('lastname')?.touched && profileForm.get('lastname')?.invalid">
            Le nom est requis.
        </small>
    </div>
    <div class="d-flex flex-column w-50 inscription-input">
        <label for="age">Age</label>
        <input id="age" type="number" formControlName="age">
        <small class="text-danger" *ngIf="profileForm.get('age')?.touched && profileForm.get('age')?.invalid">
            L'âge est requis.
        </small>
    </div>
    <div class="d-flex flex-column w-50 inscription-input">
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email">
        <small class="text-danger" *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.invalid">
            L'email est requis.
        </small>
    </div>
    <button class="btn btn-warning" (click)=submitForm() [disabled]="!isReady()">M'inscrire</button>
</form>