<h1>Passionné(e) de cinéma ?</h1>
<h1>Inscris-toi !</h1>
<h4>Et rejoins une vraie communauté</h4>
<form class="pf-v5-c-login__main">
    <div class="d-flex flex-column w-50">
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" name="firstname" [(ngModel)]="user.firstName" />
    </div>
    <div class="d-flex flex-column w-50">
        <label for="lastname">Nom de famille</label>
        <input type="text" id="lastname" name="lastname" [(ngModel)]="user.lastName" />
    </div>
    <div class="d-flex flex-column w-50">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" [(ngModel)]="user.age" />
    </div>
    <div class="d-flex flex-column w-50">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="user.email" />
    </div>
    <button class="btn btn-warning" (click)=addUser()>M'inscrire</button>
</form>